# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Pycharm
.idea
.git
.venv

# Data/Images
*.bmp
*.png
*.mat
*.csv
*.xlsx

# Network files
*.json
*.npy
*.npz
*.pt

# Other files
*.txt
*.sh

# Other directories
Nick/

# Exceptions
!requirements.txt
!network/models/deep_epox80s1_BACKUP.pt
!tests/test_img/*
!imgs/threshold.png
!imgs/network.png
