# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Pycharm
.idea
.git
.venv

# Data/Images
*.mat
*.csv
*.xlsx

# Network files
*.json
*.npy
*.npz
*.pt

# Other files
*.txt
*.sh

# Exceptions
!requirements.txt
!network/models/deep_epox80s1_BACKUP.pt
